<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .list {
        padding: 20px;
        border: 1px solid #ccc;
        margin: 20px 0;
    }

    .item {
        margin: 10px 0;
    }

    .done {
        text-decoration: line-through;
    }

    .form {
        margin: 20px 0;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }
</style>
<body>

<div id="app">
    <h1>Список задач
        <like_button v-model="headerLikes"/>
    </h1>
    <h3>Количество лайов - {{ countLikes }}</h3>
    <div v-if="count == 0">Вы великолепны</div>
    <div v-else-if="count == 1">Остался последний рывок</div>
    <div v-else>Осталось сделать задач: <span class="counter">{{ count }}</span></div>
    <task-list :tasks="uncompletedTasks" :title="'Незавершенные задачи'"></task-list>
    <div class="form">
        <input v-model="message">
        <button type="button" :disabled="disable_btn" @click="addTask">Добавить</button>
        <like_button v-model="formLikes"/>
    </div>
    <transition name="fade" v-on:enter="enter" v-on:leave="leave">
        <img src="https://pbs.twimg.com/media/BG2zfl6CEAEWL3B.jpg" v-show="count == 0">
    </transition>
    <task-list :tasks="completedTasks" :title="'Завершенные задачи'"></task-list>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

<script>
  Vue.component('like_button', {
    // чтобы  изменить стандартные параметры
    // model: {
    //   prop: 'counter', // чтобы использовать вместо value
    //   event: 'counter-change' // чтобы использовать вместо input
    // },
    props: ['value'],
    template: `<span>
    <button type="button" @click="increment">👍</button>
    <button type="button" @click="decrement">👎</button>
    {{ value }}
    </span>`,
    methods: {
      increment() {
        this.$emit('input', this.value + 1);
      },
      decrement() {
        this.$emit('input', this.value - 1);
      }

    }
  });

  Vue.component('task-list', {
    props: ['tasks', 'title'],

    template: `
      <div v-show="show" class="list">
      <h2>{{ title }}</h2>
      <div class="item" :class="{ done: task.done }" v-for="task in tasks" :key="task.text">
        <input type="checkbox" v-model="task.done">
        {{ task.text }}
        <like_button v-model="task.likes"/>
      </div>
      </div>`,
    computed: {
      show() {
        console.log('show', this.tasks.length > 0);
        return this.tasks.length > 0;
      }
    }
  });

  var app = new Vue({
    el: '#app',
    data: {
      headerLikes: 2,
      formLikes: 3,
      message: 'Новое задание',
      disable_btn: false,
      tasks: [
        {
          text: 'Пройти курс по Vue',
          done: true,
          likes: 1
        },
        {
          text: 'Сделать интернет-магазин на Vue',
          done: true,
          likes: 0
        },
        {
          text: 'Развернуть окружение в Codepen',
          done: false,
          likes: 0
        }
      ]
    },
    methods: {
      addTask: function () {
        console.log('addTask');
        this.tasks.push({
          text: this.message,
          done: false,
          likes: 0
        });
        this.message = '';
      },
      enter: function (el, done) {
        console.log('enter');
        Velocity(
          el,
          {
            translateX: '15px',
            rotateZ: '0deg',
            scale: 1
          },
          { duration: 600 }
        );
      },
      leave: function (el, done) {
        console.log('leave');
        Velocity(
          el,
          {
            translateX: '15px',
            rotateZ: '50deg',
            scale: 2
          },
          { duration: 600 }
        );
        Velocity(
          el,
          {
            translateX: '15px',
            rotateZ: '0deg',
            scale: 1
          },
          { duration: 1000 }
        );
      }
    },
    computed: {
      count: function () {
        return this.tasks.filter((task) => !task.done).length;
      },
      completedTasks: function () {
        console.log('completedTasks');
        return this.tasks.filter((task) => task.done);
      },
      uncompletedTasks: function () {
        console.log('uncompletedTasks');
        return this.tasks.filter((task) => !task.done);
      },
      countLikes() {
        return this.headerLikes + this.formLikes + this.tasks.reduce((value, task) => value + task.likes, 0);
      }
    }
  });

</script>

</body>
</html>
